
:root {
    --primary-color: #42D9F7;
    --background-color: #031426;
    --dark-color: #04070C;
}

/* MENÚ PRINCIPAL -------- */
#menu-principal {
    width: 100%;
    line-height: 2rem;
  }
  
  #menu-principal li {
    display: inline;
    list-style-type: none;
    padding: 0 10px;
  }
  
  #menu-principal a {
    color: white;
    text-decoration: none;
  }
  
  #menu-principal a:hover,
  #menu-secundario a:hover,
  #buscador button:hover,
  footer a:hover {
    color: #42d9f7;
  }
  
  #menu-principal .icon {
    display: none;
  }

h1{
    font-family: 'Honk', system-ui;
}
body{
    background-color: #031426;
}
#logo{
    display: flex;
    justify-content: left;
} 
#logo img{
    margin: 0;
    width: 10vw;
    height: auto;    
}

.allcategories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card-category{
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-ritmo{
    background-image: linear-gradient(#00000080, #00000080), url(imgs/news/Guitardude.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-category-2{
    background-image: linear-gradient(#00000080, #00000080), url(imgs/news/Iluminatis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-category-3{
    background-image: linear-gradient(#00000080, #00000080), url(imgs/news/LEGOLOS.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-rpg{
    background-image: linear-gradient(#00000080, #00000080), url(imgs/news/knights.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-arcade{
    background-image: linear-gradient(#00000080, #00000080), url(imgs/news/menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.all-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 2.5rem;
}

.container-product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: var(--dark-color);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative;
}

.container-img img{
    width: 100%;
    overflow: hidden;
}

.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
}

.content-card-product h3{
    grid-row: 1/2;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}


/* FOOTER ---------------  */
footer {
    display: flex;
    flex-direction: column;
}

#contenido-footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.elemento-footer {
    width: 25%;
    padding: 20px;
}

.elemento-footer h3 {
    padding-left: 3rem;
    /* text-align: center; */
}

.elemento-footer li {
    list-style-type: none;
    /* text-align: center; */
}

#comunidad iframe {
    width: 90%;
    height: auto;
    padding-left: 2rem;

}

#copiright-fecha {
    text-align: center;
}

#enlaces-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }


@media (max-width: 768px) {

    #menu-principal a {
        display: none;
    }
    
    #menu-principal a.icon {
        float: right;
        padding-right: 1rem;
        font-size: 1.2rem;
        display: block;
    }
    
    .menu.responsive {
        position: relative;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #menu-principal.responsive li a {
        float: none;
        display: block;
        text-align: left;
    }
    
    #contenido-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .elemento-footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: auto;
      text-align: center;
    }
  
    #comunidad {
      margin: auto;
      margin-top: 1rem;
    }
  
    #enlaces-redes {
      display: flex;
    }
}
